*{
    margin: 0;
    padding: 0;
}

.rectangle{
    width: 92%;
    height: 92%;
    top: 2vw;
    margin: 2vw;
    padding: 2vw;
    border: 2px solid black;
}

.rectangle h1{
  margin-bottom: 2vw;
}

.rectangle p{
    margin-bottom: 2vw;
}

.rectangle a{
    color: black;
}

.more a{
    color: black;
    margin: 2vw 2vw 2vw 2vw;
    padding: 2vw;
}

.image img{
    width: 500px;
    height: 300px;
    margin-left: 2vw;
    padding-left: 2vw;
}

.image h1{
    margin: 2vw 2vw 2vw 2vw;
    padding-left: 2vw;
}
.li{
    margin-bottom: 0.5rem;
}
.last a{
  margin-left: 2vw;
  padding-left: 2vw;
}
.last h1{
    margin: 2vw 2vw 2vw 2vw;
    padding-left: 2vw;
}
.last ol{
    margin: 2vw 2vw 2vw 2vw;
    padding-left: 2vw;
}
.last ol li{
    margin-bottom: 1vw;
    margin-left: 2vw;
}